[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.vs/
.vscode/
.idea/

*.pidb.meta
**/Assets/AssetStoreTools*

# Unity3D generated meta files
**/Assets/*.meta
**/Assets/**/*.meta